/* base palette */
:root {
    --primary: rgb(54, 49, 49);
    --secondary: rgb(212, 146, 126);
    --tertiary: rgb(168, 187, 240);
    --correct: rgb(24, 136, 138);
    --wrong: rgb(124, 18, 18);
    --clear: rgba(239, 239, 239, 0.9);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.25;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
    text-shadow: 0 0 1vw var(--secondary);
    transition: 1s;
}

a:hover {
    color: var(--tertiary);
    text-shadow: 0 0 1vw var(--tertiary);
}

body {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: var(--primary);
    min-height: 100vh;
    color: var(--secondary);
}

footer {
    margin-top: auto;
    font-variant: small-caps;
    letter-spacing: .25rem;
}

header {
    min-height: 10vh;
    display: grid;
    grid-template-areas:
        "scorebtn . timer"
        "header header header";
    align-items: center;
    row-gap: 1rem;
}

header * {
    min-height: 1rem;
    font-variant: small-caps;
    letter-spacing: .25rem;
}

#header {
    font-size: 1.5rem;
    text-shadow: 0 0 .75rem var(--secondary);
    grid-area: header;
}

#timer {
    color: var(--tertiary);
    text-shadow: 0 0 .5rem var(--tertiary);
    grid-area: timer;
    font-family: Silkscreen;
}

main {
    margin: 2rem 0 0 0;
    transition: 1s;
    padding-top: .5rem;
}

.container {
    border-radius: .5rem;
    transition: 1s;
}

.correct {
    background-color: var(--correct);
    box-shadow: 0 0 .75rem .75rem var(--correct);
}

.incorrect {
    background-color: var(--wrong);
    box-shadow: 0 0 .75rem .75rem var(--wrong);
}

#rules-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0 0 1vw var(--secondary);
}

.subheader {
    font-variant: small-caps;
    letter-spacing: .5rem;
    font-size: 1.25rem;
}

#rules {
    text-align: left;
    margin: 1rem 0;
}

#rules li {
    margin-left: 2rem;
    margin-bottom: .5rem;
}

#question-container {
    display: flex;
    flex-direction: column;
}

#question {
    font-size: 1.25rem;
    text-align: left;
    text-shadow: 0 0 .25rem var(--secondary);
    font-weight: lighter;
}

.answer {
    margin: 2rem .15rem;
    padding: 1rem 1.25rem;
    text-align: left;
    border-radius: 2rem;
    background-color: var(--primary);
    box-shadow: inset 0 0 .75rem var(--secondary), 0 0 .75rem var(--secondary);
    text-shadow: 0 0 .25rem var(--secondary);
    cursor: pointer;
    transition-duration: 2s;
}

.answer:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    box-shadow: 0 0 40px var(--tertiary);
}

/* save form */
#save-form {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    min-height: 15vh;
    justify-content: space-between;
}

#save-form .subheader {
    color: var(--tertiary);
    text-shadow: 0 0 .25rem var(--tertiary);
}

#initials-container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    align-items: center;
    margin: 2rem 0;
}

#initials-container * {
    font-size: 1.25rem;
}

#initials-input {
    --initials: rgba(227, 199, 199, 0.15);
    color: var(--clear);
    text-shadow: 0 0 2.25rem var(--clear);
    padding: .25rem 0 .2rem 1.5rem;
    border-radius: .25rem;
    background-color: var(--initials);
    box-shadow: inset 0 0 1rem var(--primary), 0 0 1vw var(--initials);
    border: none;
    outline: none;
    transition: 1s;
    letter-spacing: .75rem;
    font-family: 'Silkscreen', cursive;
}

#initials-input:focus {
    box-shadow: inset 0 0 1rem var(--secondary), 0 0 1vw var(--secondary);
    text-shadow: 0 0 1rem var(--clear);
}

#points {
    padding-left: 1rem;
    text-align: left;
}

#save-button {
    font-family: Silkscreen;
    padding: .5rem 4rem;
    margin: 2rem auto;
}

/* scoreboard */
#scoreboard {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 4rem auto;
    max-width: max-content;
}

#scoreboard-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#scoreboard h2 {
    font-variant: small-caps;
    font-size: 2rem;
    letter-spacing: .75rem;
    grid-column: span 3;
    color: var(--tertiary);
    text-shadow: 0 0 1vw var(--tertiary);
    margin-bottom: .75rem;
}

#scoreboard p {
    text-shadow: 0 0 .5rem var(--secondary);
    font-size: 1.5rem;
}

.saved-score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rank {
    text-align: start;
}

.initials {
    padding-left: 1rem;
    letter-spacing: 1rem;
}

.score {
    text-align: end;
}

.saved-score * {
    font-family: Silkscreen;
}

label {
    text-align: end;
    padding-right: 1rem;
}

/* buttons */
.button {
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 2rem var(--secondary);
    transition-duration: 1s;
    background-color: var(--clear);
}

#scoreboard-btn {
    border-radius: 1rem;
    padding: .25rem;
    grid-area: scorebtn;
    border: none;
    font-family: Silkscreen;
    background-color: transparent;
    transition: 1s;
}

.btn-inactive {
    --dim: rgba(0, 0, 0, .09);
    --text: rgba(168, 187, 240, 0.25);
    background-color: transparent;
    box-shadow: 0 0 1vw transparent;
    color: var(--text);
    text-shadow: 0 0 .75rem var(--text);
}

.btn-active {
    color: var(--secondary);
    text-shadow: 0 0 .25rem var(--secondary);
}

.active {
    color: var(--primary);
}

.clear {
    color: var(--clear);
    text-shadow: 0 0 1vw var(--clear);
}

#start-button, #replay-button {
    margin: 1rem;
    padding: 1rem;
    font-family: Silkscreen;
    text-shadow: 0 0 .25rem var(--secondary);
}

.button:hover {
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: 0 0 2rem var(--tertiary);
}

@media screen and (min-width: 768px) {

    #scoreboard-btn,
    #timer {
        font-size: 1.25rem;
    }

    #header,
    #scoreboard-header h2,
    .subheader {
        font-size: 2rem;
    }

    #scoreboard-header p,
    #initials-container * {
        font-size: 1.75rem;
    }

    #rules {
        font-size: 1.5rem;
    }

    #start-button, #replay-button, #save-button {
        font-size: 1.25rem;
    }

    #scoreboard {
        max-width: 75vw;
    }

    #initials-container {
        grid-template-columns: 42.5% 15% 42.5%;
    }

    #initials-input {
        text-shadow: 0 0 .25rem .25rem var(--clear);
    }
}

@media screen and (min-width: 1024px) {
    header {
        row-gap: 4rem;
    }

    .subheader,
    #question {
        font-size: 1.75rem;
    }

    #rules,
    #start-button,
    #replay-button
    #answers,
    #initials-container *,
    #save-button {
        font-size: 1.5rem;
    }
}