/* BASE PALETTE. 6 will become 4 */
:root {
    --primary: rgb(54, 49, 49);
    --secondary: rgb(212, 146, 126);
    --tertiary: rgb(168, 187, 240);}
    
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary);
    color: var(--secondary);
    line-height: 1.25;
    box-sizing: border-box
}

a {
    color: var(--tertiary);
    text-decoration: none;
}

.btn {
    margin: 30px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 5px 5px 10px var(--tertiary);
    color: var(--tertiary);
    transition-duration: 1s;
}

.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    box-shadow: -5px -5px 30px 5px var(--secondary);
    text-shadow: -5px -5px 20px var(--secondary);
}

.hide {
    display: none;
}

/* HEADER & FOOTER */

header, footer {
    display: flex;
    justify-content: space-between;
}

footer {
    display: block;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: var(--secondary);
    text-shadow: 0px 0px 10px var(--secondary);
    transition-duration: 1s;
}

footer a:hover {
    color: var(--tertiary);
    text-shadow: 0 0 20px var(--tertiary);
}

/* MAIN */
h1 {
    color: var(--tertiary);
    text-shadow: 0px 0px 20px var(--tertiary);
    margin: 15px;
    font-size: 3vh;
    padding: 25px;
}

#preamble {
    padding: 25px;
}

.emphasis {
    color: var(--tertiary);
    font-weight: bolder;
    text-shadow: 0px 0px 20px var(--tertiary);
}

.small-caps {
    font-variant: small-caps;
    font-weight: bold;
    kerning: none;
    color: var(--tertiary);
    text-shadow: 0px 0px 20px var(--tertiary);
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-btn {
    margin-top: 50px;
}