/* page aesthetic, dark-mode friendly color scheme */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(54, 49, 49);
    color: rgb(212, 146, 126);
}

/* CSS elements follow order of HTML elements */

/* clean link aesthetic to match .timer */
a, a:link {
    color: hsl(224, 70%, 80%);
    text-decoration: none;
}

header, footer {
    display: flex;
    justify-content: space-between;
    margin: 10% 10%;
}

#highScores, #timer {
    color: hsl(224, 70%, 80%);
    border: none;
}

/* body elements */

.codingQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preamble, .display-questions, .highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#start {
    margin-top: 50px;
    background: rgb(70, 42, 42);
    color: hsl(224, 70%, 80%);
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
}

.btn-start:hover,
#answers button:hover,
#highScores:hover, #timer:hover {
    background: rgb(81, 103, 117);
}

#questions {
    margin-top: 100px;
    padding-bottom: 10px;
}

#answers {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#answers button {
    color: linen;
    background: maroon;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 50%;
}

.answer {
    width: 100%;
    color: hsl(224, 70%, 80%);
}